.active-hours {
  position: absolute;
  top: 0px;
  left: 10px;
  height: 80vh;
}

.active-hours-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}
