body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/insignia.jpg');
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greeting {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.greeting h1 {
  font-size: 4rem;
  text-align: center;
}

.stopwatch {
  border: solid 1px #fff;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.589);
  color: rgb(0, 0, 0);
}

.time {
  font-size: 3rem;
  text-align: center;
}

button {
  background: #fff;
  color: #000;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
